<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Voting Application | Change Password </title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container">
        <form action="/user/profile/password?_method=PUT" method="POST">
            
            <div class="mb-3 mt-4">

              <label for="currentPassword" class="form-label">Enter your current Password</label>
              <input type="text" class="form-control" id="currentPassword" aria-describedby="currentPassword" name="currentPassword"> 
             
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">Enter new Password</label>
              <input type="text" class="form-control" id="newPassword" name="newPassword">
            </div>
      
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>


    <%- include('./partials/scripts') %>
</body>
</html>